* {
    font-family: 'Roboto', sans-serif;
}
.upsideBar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.btnLogout{
    display: flex;
    align-items: center;
}
.btnLogout button{
    background-color: #FF8585;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    border: 1px solid black;
}
.randomNumber {
    text-align: center;
    margin-top: 5%;
}
.btnCard {
    text-align: center;
    margin: 5px;
}
.btnCard button{
    padding: 20px;
    width: 200px;
}